{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  {# JQuery 3.4.1 #}
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    {# JQuery Modal    #}
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>#}
{#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />#}
  {# END OF JQuery #}

  {#  BootstrapCDN CSS4.3, JS, Prpper.js, jQuery #}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {# END OF BootstrapCDN #}

  {# W3Schools CSS #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {# END OF W3Schools CSS #}

  {# Google icon #}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {# END OF GOOGLE ICON  #}

  {# Draggable API #}
  <script src="{% static 'js/draggable.bundle.js' %}"></script>
  {# END OF Draggable API #}

  {# Common CSS #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
  {# END OF Common CSS #}

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <meta charset="UTF-8">
  <title>dodolist</title>

  {% block headscript %}
  {% endblock %}
</head>
<body>
  {% include 'header.html' %}

  {% block content %}
  {% endblock %}
  {# For FOOTER #}

</body>
</html>